html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
 
}



main{
  height:100%;
  width:100%;
  padding: 1.5rem;
  display:flex;
  gap: 1rem;
  box-sizing: border-box;

}

main .left ,
 main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;

}

main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 244);
  color:#000000;
  padding: 0.5rem 2rem;
  border-radius: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

main .left{
  background-color: #000000;
  position: relative;
}

.left .code,
.code pre,
.code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.7rem;
}

main .right{
  background-color: #595858;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  overflow: auto;
   box-sizing: border-box;
   font-weight: bold;
   
}











